h3 {
    color: #282c34;
    font-size: 18px;
    margin: 0;
}

.emailForm {
    text-align: left;
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 20px;
}

.form-group * {
    margin: 8px auto !important;
    width: 100%;
}

.form-group-center {
    text-align: center;
}

.form-button {
    width: 200px;
    margin-top: 20px !important;
}

.multiline {
    width: 100%;
}