h3 {
    color: dimgray;
}

.emailForm {
    text-align: left;
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 20px;
}

.form-group * {
    margin: 8px !important;
}

.form-group-center {
    text-align: center;
}

.form-button {
    width: 200px;
    margin-top: 20px !important;
}